:root{
    --gray-1 : #E5E8EB;
    --gray-2 : #F0F2F5;
    --gray-3 : #DBE0E5;
    --gray-4 : #61738A;
    --black-1 : #121417;
    --blue-1 :#0D78F2;
}


#review h2{
    padding: 16px;

    color: var(--black-1);
    font-weight: bold;

    font-size: 3.2rem;
    line-height: 4rem;
}

/* Questions */



.question h3{
  padding: 16px 16px 8px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--black-1);
}

.question p{
    padding: 4px 16px 12px;

    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black-1);
}


/* Button */

#review .btn{
    padding: 12px 16px;
    display: flex;
    justify-content: end;
    width: 100%;
}

#review .btn a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;


    background-color: var(--blue-1);

    min-width: 84px;
    max-width: 480px;
    border-radius: 8px;
    padding: 0 16px;
    height: 40px;
    text-decoration: none;
    width: fit-content;
}